<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    
        <nav class="ui blue inverted top menu">
            <div class="column sixteen row">
                <div class="item">
                    <img class="ui small image" src="http://www.textilgallerian.se/images/textil/textilgallerian-logotype-footer.png">
                </div>
                @Html.ActionLink("Rabatter", "index", "coupon", null, new { @class = "item" })
                @Html.ActionLink("Skapa Rabatt", "create", "coupon", null, new { @class = "item" })
                @Html.ActionLink("Användare", "users", "user", null, new { @class = "item" })
                @Html.ActionLink("Skapa Användare", "create", "user", null, new { @class = "item" })

                <div class="right menu">
               
                    <div class="item">

                        <div class="ui icon input">
                            <input type="text" placeholder="Sök...">
                            <i class="search link icon"></i>
                        </div>
                    </div>
                    @Html.ActionLink("Logga ut", "Logout", "Authorization", null, new { @class = "item" })
                </div>
            </div>
        </nav>

    <div class="ui stackable sixteen column grid">
        <div class="sixteen wide column">
            @*<img src="http://www.textilgallerian.se/images/textil/textilgallerian-logotype-footer.png" />*@
            @Html.Partial("_FlashMessage")
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/semantic")
    @RenderSection("scripts", false)
    <script>
        function userSearch() {
            $("#user-search").search({
                source: usercontent,
                searchFullText: false,
                cache: false
            });
        }
   
        $('#user-search').search({
            source: usercontent,
            searchFullText: false,
            cache: false
        });

        var usercontent = [];
        $("#readUsers").click(function () {
            //nollställer array varje gång man laddar in nya
            usercontent = [];
            console.log('1');
            //hämtar ut textarea elementet
            var users = jQuery("textarea#users").val();
            //splittar den på radbryt
            users = users.split('\n');
            usercontent = usercontent.concat(users);
            //loopar igenom input och gör det till ett format som sökfunktionen kan läsa
            for (var i = 0; i < usercontent.length; i++) {
                usercontent[i] = { title: usercontent[i] };
            }
            //uppdaterar sökfuntionen
            userSearch();
        });
        $('#customer').on('click', function (e) {

            var value = $('#userinput').val();
            value = value.toString();
            $('textarea#users').highlightTextarea({
                words: [value]
            });

            console.log(value);
        });

      
        

    </script>
</body>
</html>