@model List<Domain.Entities.Coupon>
@{
    ViewBag.Title = "Coupons";
}

<h2>Kuponger</h2>

<div class="column centered row">

    <div class="column two wide">Kampanjnamn</div>
    <div class="column two wide">Kampanjkod</div>
    <div class="column two wide ">Startdatum</div>
    <div class="column two wide ">Slutdatum</div>
    <div class="column four wide">Typ av kampanj</div>
    <div class="column one wide">Skapad av</div>
    <div class="column three wide">Val</div>

</div>


@foreach (var coupon in Model)
{
    <div class="column centered row">
        <div class="column two wide">
            @coupon.Code
        </div>
        <div class="column two wide">
            @coupon.Code
        </div>
        <div class="column two wide">
            @coupon.Start.ToString("yyyy/MM/dd")
        </div>
        <div class="column two wide">
            @coupon.End
        </div>
        <div class="column four wide">
            @coupon.Type
        </div>
        <div class="column one wide">
            Linus
        </div>
        <div class="column three wide">
            @Html.ActionLink("Ta bort", "Delete")

            @Html.ActionLink("Redigera", "Edit")
        </div>

    </div>
}
