@model List<Domain.Entities.Coupon>
@{
    ViewBag.Title = "Coupons";
}

<h2>Cupons</h2>



<div class="fourteen column">
    @Html.Partial("_FlashMessage")
    <table class="ui table">
        <thead>
            <tr>
                <th>Kampanjnamn</th>
                <th>Kampanjkod</th>
                <th>Startdatum</th>
                <th>Slutdatum</th>
                <th>Typ av kampanj</th>
                <th>Skapad av</th>
                <th>Val</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coupon in Model)
            {
                <tr>
                    <td>
                         @coupon.Code
                    </td>
                    <td>
                        @coupon.Code
                    </td>
                    <td>
                        @coupon.Start
                    </td>
                    <td>
                        @coupon.End
                    </td>
                    <td>
                        @coupon.Type
                    </td>
                    <td>
                        Linus
                    </td>
                    <td>
                        @Html.ActionLink("Ta bort", "Delete", new { code = coupon.Code})

                        @Html.ActionLink("Redigera", "Edit")
                    </td>

                </tr>
            }


        </tbody>
    </table>
    <div class="ui hidden divider"></div>
    <div class="field">
    </div>
</div>
