@model AdminView.ViewModel.CouponViewModel

@{
    ViewBag.Title = "Create";

}

<h2>Create</h2>

<div class="content">
    <form class="ui form" method="post">

        @Html.AntiForgeryToken()

    <div class="ui page grid overview segment">
        <div class="twelve wide column">
            <div class="field">
                <label>Kampanjnamn</label>
                @Html.EditorFor(m => Model.Coupon.Name)
            </div>
            <div class="field">
                <label>Kampanjkod</label>
                @Html.EditorFor(m => Model.Coupon.Code)
            </div>
            <div class="field">
                <label>Välj typ av kampanj</label>
                @Html.DropDownListFor(m => m.Coupon.Type, new SelectList("asd", "Value"))
            </div>
            <div class="field">
                <label>Beskrivning</label>
                @Html.TextAreaFor(m => Model.Coupon.Description, new {@readonl = true, @disabled = true})
            </div>

            <div class="two fields">
                @Html.Partial("_numericInput")
            </div>

            <div class="field">
                <label>Startdatum:</label>
                @Html.TextBoxFor(m => Model.Coupon.Start, new { type = "date", placeholder = "startdatum" })
            </div>
            <div class="field">
                <label>Slutdatum:</label>
                @Html.TextBoxFor(m => Model.Coupon.End, new { type = "date", placeholder = "slutdatum" })
            </div>
            <div class="field">
                <label>Kampanjen skall gälla för följande</label>
                <h4>Produkter/artikelnummer:</h4>
            </div>
            <div class="field">
                <label>Varumärke:</label>
            </div>
            <div class="field">
                <label>Kategori:</label>
            </div>

            <div class="field">
                <label>Kombination:</label>

            </div>

            <div class="field">
                @Html.CheckBoxFor(m => Model.Coupon.CanBeCombined, "CanNotBeCombined")
                @Html.Label("canNotBeCombined", "Kampanjen kan ej kombineras med andra kampanjer.")
            </div>

                <input type="submit" class="ui button green" value="Skapa rabatt" />

            </div>
        </div>
        </form>
</div>
<div>
    @Html.ActionLink("Back to List", "Coupons")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
