@model AdminView.ViewModel.CouponViewModel

@{
    ViewBag.Title = "Create";

}

<h2>Create</h2>

<div class="content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="ui page grid overview segment">
        <div class="twelve wide column">
            <div id="couponCode">
                <h2>Kampanjnamn:</h2>
                @Html.EditorFor(m => Model.Coupon.Name)
                <h2>Kampanjkod:</h2>
                @Html.EditorFor(m => Model.Coupon.Code)
            </div>
            <div id="couponType">
                <h2>Välj typ  av kampanj</h2>
                @Html.DropDownListFor(m => Model.Coupon.Type, new SelectList(Model.CouponTypes, "Value", "Key"))
                <div id="couponDescription">
                    @Html.TextAreaFor(m => Model.Coupon.Description)
                </div>
                <div id="couponSettings">
                    @Html.Partial("_numericInput")
                </div>
                ---------------------------------------------------
                <div id="couponUsageLimit">
                    <label>Antal förbrukningar</label>
                    @Html.RadioButtonFor(m => Model.Coupon.CouponUseLimit, "UseLimit")
                    @Html.Label("UseLimit", "Per kod")
                    @Html.RadioButtonFor(m => Model.Coupon.UseLimit, "UseLimit")
                    @Html.Label("UseLimit", "Per Användare")
                    @Html.TextBoxFor(m => Model.ProductCoupon.CouponUseLimit, new { type = "number", min = "0" })
                </div>
                ----------------------------------------------------
                <div class="CouponCustomers"></div>
                @Html.RadioButtonFor(m => Model.Coupon.UseLimit, "UseLimit")
                @Html.Label("UseLimit", "Alla (generell kampanj)")
                @Html.RadioButtonFor(m => Model.Coupon.UseLimit, "UseLimit")
                @Html.Label("UseLimit", "Användare (klistra in)")
                <div id="couponDescription">
                    @Html.TextAreaFor(m => Model.Coupon.CustomersValidFor)
                </div>
                <div class="couponDuration">
                    <label>Startdatum:</label>
                    @Html.TextBoxFor(m => Model.Coupon.Start, new { type = "date", placeholder = "startdatum" })
                    <label>Slutdatum:</label>
                    @Html.TextBoxFor(m => Model.Coupon.End, new { type = "date", placeholder = "slutdatum" })
                </div>
                <div>
                    <h2>Kampanjen skall gälla för följande</h2>
                    <div id="products">
                        <h4>Produkter/artikelnummer:</h4>
                    </div>
                    <div id="brands">
                        <h4>Varumärke:</h4>
                    </div>
                    <div id="category">
                        <h4>Kategori:</h4>
                    </div>
                </div>
                <div>
                    <h2>Kombination:</h2>

                </div>

                <div>
                    @Html.CheckBoxFor(m => Model.Coupon.CanBeCombined, "CanNotBeCombined")
                    @Html.Label("canNotBeCombined", "Kampanjen kan ej kombineras med andra kampanjer.")
                </div>



            </div>
        </div>
    </div>







    }
            </div>
            <div>
                @Html.ActionLink("Back to List", "Coupons")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
