@using AdminView.ViewModel
@model CouponViewModel

@{
    ViewBag.Title = "Skapa ny rabatt";
}
<div class="row">
    <div class="column">
        <form class="ui form" method="post">
            @Html.AntiForgeryToken()

            <div class="field">
                <label>
                    Välj typ av kampanj
                    @Html.DropDownListFor(m => m.Type, new SelectList(CouponViewModel.CouponTypes, "Key", "Value"), new {@class = "type"})
                </label>
            </div>
            <div class="field">
                <label>
                    Kampanjnamn
                    @Html.TextBoxFor(m => m.Parameters["Name"], new { required = "required " })
                </label>
            </div>
            <div class="field">
                <label>
                    Beskrivning
                    @Html.TextAreaFor(m => m.Parameters["Description"])
                </label>
            </div>

            <div class="field">
                <label>
                    Generera engångskoder
                    @Html.CheckBoxFor(m => m.DisposableCodes, new { @class = "disposable" })
                </label>
            </div>
            <div class="field campaign-code">
                <label>
                    Kampanjkod
                    @Html.TextBoxFor(m => m.Parameters["Code"], new { required = "required " })
                </label>
            </div>
            <div class="field disposable-codes">
                <label>
                    Hur många engångskoder ska genereras?
                    @Html.TextBoxFor(m => m.NumberOfCodes, new { type = "number", min = 0 })
                </label>
            </div>

            <div class="field">
                <label>
                    Minsta köpsumma
                    @Html.TextBoxFor(m => m.Parameters["MinPurchase"], new {type = "number", min = 0, @Value = 0, required = "required " })
                </label>
            </div>
            <div class="twelve wide column campaign-code">
                <div class="ui one column center aligned stackable divided grid">
                    <div class="column">
                        <div class="ui icon header">
                            <i class="users icon"></i>
                            Kunder
                        </div>

                        <div class="ui fluid category search" id="user-search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" id="userinput" placeholder="Sök i kundfält..">
                                <i class="search icon" id="customer"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                        <div class="ui hidden divider"></div>
                        <div class="field">
                            <label>
                                Kunder
                                @Html.TextAreaFor(m => m.CustomerString, new { @id = "users" })
                            </label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="twelve wide column">
                <div class="ui three column center aligned stackable divided grid">
                    <div class="column">
                        <div class="ui icon header">
                            <i class="tags icon"></i>
                            Produkter
                        </div>
                        <div class="ui fluid category search">
                            <div class="ui icon input">
                                <input class="prompt positive" type="text" placeholder="Sök på produkter..">
                                <i class="tags  icon"></i>
                            </div>
                            <div class="result"></div>
                            <div class="ui hidden divider"></div>
                            <div class="field">
                                @Html.TextAreaFor(m => m.ProductsString)
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui icon header">
                            <i class="barcode icon"></i>
                            Märken
                        </div>
                        <div class="ui fluid category search" id="user-search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" id="userinput" placeholder="Sök  Kategorier/Märken.">
                                <i class="search icon" id="customer"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                        <div class="ui hidden divider"></div>
                        <div class="field">
                            <textarea rows="12" cols="20"></textarea>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui icon header">
                            <i class="database icon"></i>
                            Kategorier
                        </div>
                        <select class="ui fluid search dropdown" id="category-dropdown">
                            <option value="">Kategorier</option>
                        </select>
                        <div class="ui hidden divider"></div>
                        <div class="field">
                            <textarea rows="12" cols="20" id="sub-categories"></textarea>
                        </div>
                    </div>

                </div>
            </div>


            <div class="field">
                <label>
                    Startdatum:
                    @Html.TextBoxFor(m => m.Parameters["Start"], new {type = "date" , required = "required "})
                </label>
            </div>
            <div class="field">
                <label>
                    Slutdatum:
                    @Html.TextBoxFor(m => m.Parameters["End"], new {type = "date"})
                </label>
            </div>
            <div class="field">
                <label>
                    Hur många gånger får rabatten användas?
                    @Html.TextBoxFor(m => m.Parameters["UseLimit"], new { type = "number", min = 0, placeholder = "Hur många?",  required = "required " })
                </label>
                <div class="help">
                    Hur många gånger rabatten  får användas av samma kund eller hur många gånger samma kod får användas
                </div>
            </div>
            <div class="field specific-field BuyProductXRecieveProductY BuyXProductsPayForYProducts">
                <label>
                    Antal produkter som krävs
                    @Html.TextBoxFor(m => m.Parameters["Buy"], new { type = "number", min = 0, placeholder = "Ange hur många produkter kund behöver köpa", required = "required " })
                </label>
                <div class="help">
                    T.ex. 3 i tag 3 betala för 2
                </div>
            </div>
            <div class="field specific-field BuyXProductsPayForYProducts">
                <label>
                    Betala för
                    @Html.TextBoxFor(m => m.Parameters["PayFor"], new { type = "number", min = 0, placeholder = "Ange hur många produkter kund behöver betala för", required = "required " })
                </label>
                <div class="help">
                    T.ex. 2 i tag 3 betala för 2
                </div>
            </div>
            <div class="field specific-field TotalSumAmountDiscount">
                <label>
                    Rabatt i kr
                    @Html.TextBoxFor(m => m.Parameters["Amount"], new { type = "number", min = 0, placeholder = "Rabatt", required = "required " })
                </label>
            </div>
            <div class="field specific-field BuyProductXRecieveProductY">
                <label>
                    Antal gratis produkter
                    @Html.TextBoxFor(m => m.Parameters["AmountOfProducts"], new { type = "number", min = 0, placeholder = "Antal gratis produkter", required = "required " })
                </label>
            </div>

            <div class="field">
                <label>
                    Vilken produkt?
                    @Html.TextBoxFor(m => m.Parameters["FreeProduct"])
                </label>
            </div>
            <div class="field specific-field TotalSumPercentageDiscount">
                <label>
                    Percentage
                    @Html.TextBoxFor(m => m.Parameters["Percentage"], new { type = "number", min = 0, placeholder = "Hur många procent?", required = "required " })
                </label>
            </div>

            <div class="field">
                <label>
                    Kampanjen kan kombineras med andra kampanjer.
                    @Html.CheckBoxFor(m => m.CanBeCombined)
                </label>
            </div>

            <input type="submit" name="name" class="ui button green" value="Skapa rabatt"/>
        </form>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Bundles/JSON")
    @Scripts.Render("~/Bundles/CreateCoupon")
}
