@using AdminView.ViewModel
@model PagedCouponsViewModel
@{
    ViewBag.Title = "Coupons";
}


    <table class="ui table">
        <thead class="blue">
            <tr>
                <th>Kampanjnamn</th>
                <th>Kampanjkod</th>
                <th>Startdatum</th>
                <th>Slutdatum</th>
                <th>Typ av kampanj</th>
                <th>Skapad av</th>
                <th>Val</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coupon in Model.Coupons)
            {
                <tr>
                    <td>
                        @coupon.Name
                    </td>
                    <td>
                        @coupon.Code
                    </td>
                    <td>
                        @coupon.Start.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @if (coupon.End.HasValue)
                        {
                            @coupon.End.Value.ToString("yyyy-MM-dd")
                        }
                    </td>
                    <td>
                        @CouponViewModel.CouponTypes[coupon.GetType().FullName]
                    </td>
                    <td>
                        @coupon.CreatedBy
                    </td>
                    <td>
                        @Html.ActionLink("Ta bort", "Delete")
                        @Html.ActionLink("Redigera", "Edit")
                    </td>
                </tr>
            }
        </tbody>
    </table>



    <!--Pagination-->
    @if (Model.TotalPages > 1)
    {
        <div class="sixteen wide centered column">
            <div class="ui pagination menu">
                @if (Model.CurrentPage >= 1)
                {
                    @Html.ActionLink("<<", "Index", "Coupon", new { page = Model.CurrentPage - 1 }, new { @class = "item" })
                }
                @for (var i = 0; i < Model.TotalPages; i++)
                {
                    var htmlClass = i == Model.CurrentPage ? new { @class = "active item" } : new { @class = "item" };

                    @Html.ActionLink((i + 1).ToString(), "Index", "Coupon", new { page = i }, htmlClass)
                }
                @if (Model.CurrentPage < Model.TotalPages - 1)
                {
                    @Html.ActionLink(">>", "Index", "Coupon", new { page = Model.CurrentPage + 1 }, new { @class = "item" })
                }
            </div>
        </div>
    }
