@using AdminView.ViewModel
@model AdminView.ViewModel.AuthorizationViewModel

@{
    ViewBag.Title = "Skapa ny användare";
}

<h2 class="ui large header">Skapa ny användare</h2>
<div class="row">
    <div class="column">
        <form class="ui form" method="post">
            @Html.AntiForgeryToken()

            <div class="field">
                <label>Användarnamn</label>
                @Html.EditorFor(m => Model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="field">
                <label>Lösenord</label>
                @Html.PasswordFor(m => Model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="field">
                <label>Roll</label>
                @Html.DropDownListFor(m => m.Role, new SelectList(Model.Roles, "Name", "Name"), new { @class = "type" })
            </div>

            <input type="submit" class="ui green button" value="Skapa användare"/>
        </form>
    </div>
</div>
