@model AdminView.ViewModel.AuthorizationViewModel

@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>

<div class="row">
    <div class="column">
        <form class="ui form" action="@Url.Action("Create", "User")" method=" post">
            @Html.AntiForgeryToken()

            @*<div class="two fields">
                <div class="field">
                    <label>Förnamn</label>
                    <input placeholder="Linus" type="text">
                </div>
                <div class="field">
                    <label>Efternamn</label>
                    <input placeholder="Ivelid" type="text">
                </div>
            </div>*@
            <div class="field">
                <label>Email</label>
                @Html.EditorFor(m => Model.Email)
            </div>
            <div class="field">
                <label>Lösenord</label>
                @Html.PasswordFor(m => Model.Password)
            </div>

            <input type="submit" class="ui teal button" value="Skapa Användaren" />
        </form>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(".item.create-user").addClass("active");
</script>
