@model AdminView.ViewModel.PagedViewModel<AdminView.ViewModel.AuthorizationViewModel>
@using Domain.Entities

@{
    ViewBag.Title = "Användare";
}

<table class="ui table">
    <thead class="blue">
    <tr>
        <th>E-mail</th>
        <th>Behörighet</th>
        <th>Konto aktivt</th>
        <th>Val</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var vm in Model.PagedObjects)
    {
        <tr>
            <td>
                @vm.User.Email
            </td>
            <td>
                @vm.Role
            </td>
            <td>
                @if (vm.User.IsActive)
                {
                    <i class="icon green checkmark"></i>
                }
                else
                {
                    <i class="icon red minus"></i>
                }
            </td>
            <td>
                @Html.ActionLink(vm.User.IsActive ? "Inaktivera" : "Aktivera", "SetStatus", "User", new { vm.User.Email }, null)
                @Html.ActionLink("Redigera", "Edit")
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.Partial("_Pagination", Model, new ViewDataDictionary {{"controller", "user"}})