@model List<Domain.Entities.User>

@{
    ViewBag.Title = "Users";
}

<div class="ui grid ">
    <div class="column eight wide">
        <div class="ui message main">
            <h1 class="ui header">Användare</h1>
            <p>Översikt av tillagda användare som finns i datorbasen. Önskar du lägga till fler användare? Klicka på den <strong>blå knappen</strong> nedan för att komma till "Skapa Användare".</p>
            
            @Html.ActionLink("Skapa användare", "Create", "User", new { @class = "ui blue button" }), @Html.ActionLink("sida 1", "Users", "User", new { page = 0 }, null), @Html.ActionLink("sida 2", "Users", "User", new { page = 1 }, null)
        </div>
    </div>

    <div class="column seven wide blue row">

        <div class="column eight wide">E-mail</div>
        <div class="column ">Behörighet</div>

    </div>

    <script>
        $(".item.coupons").addClass("active");
    </script>
    @foreach (var user in Model)
    {
        <div class="column row seven wide list_item">
            <div class="column eight wide">
                @user.Email
            </div>
            <div class="column seven wide">
                @user.IsActive
            </div>
        </div>
    }

</div>

